<div class = "jumbotron">
    <h1>Savage Worlds Character Creator</h1>
    <p>Welcome to the app</p>
</div>
<div id="accordion">
{{#each characters}}

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{name}}" aria-expanded="true" aria-controls="collapseOne">
          {{name}}
        </button>
      </h5>
    </div>

    <div id="{{name}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Parry: {{parry}}</li>
          <li>Toughness: {{toughness}}</li>
          <li>Skills: {{skills}}</li>
          <li>Weapons: {{weapons}}</li>
          <li>Other Info: {{other}}</li>

        </ul>
      </div>
    </div>
  </div>

{{/each}}
</div>