<div class = "jumbotron">
    <h1>Savage Worlds Character Creator</h1>
    <p>Welcome to the app</p>
</div>
<div id="accordion">

{{#each characters}}
    {{!-- <button class = "delete-char" data-id= {{this.id}} >
    <!---->
    X
  </button> --}}
  <div class="card">
    <div class="card-header"  id="headingOne">
      <h5 class="mb-0">
        <div class = "row" >
        <div class = "col-6" data-toggle="collapse" data-target="#{{name}}" aria-expanded="true" aria-controls="collapseOne">
          <button class="btn btn-link" >
            {{name}}
          </button>
        </div>
        <div class = "col-6">

            <button class = "delete-char btn btn-primary float-right" data-id= "{{this.id}}" >
              <!---->
              X
            </button>

        </div>
        </div>
      </h5>
    </div>

    <div id="{{name}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Parry: {{parry}}</li>
          <li>Toughness: {{toughness}}</li>
          <li>Skills: {{skills}}</li>
          <li>Weapons: {{weapons}}</li>
          <li>Other Info: {{other}}</li>

        </ul>
      </div>
    </div>
  </div>

{{/each}}


<button id = "go-to-form" class = "btn btn-primary" data-id= "{{this.id}}" >
Add Character
</button>
</div>